<div data-smsgfx-component="components/colourPaletteList" class="sms-colour-palette-list d-flex">
    <style data-css-scope="global">
        .sms-colour-palette-list button {
            width: auto;
            height: auto;
            border: 1px solid #888888;
            margin: 1px;
            border-radius: 2px;
            box-sizing: content-box;
        }
        .sms-colour-palette-list button:hover {
            border: 2px solid #AAAAAA;
            margin: 0;
        }
    </style>
</div>