<div data-smsgfx-component="components/projectListing" class="project-listing">
    <ul data-smsgfx-id="project-list" class="sms-project-list-component list-group list-group-flush">
    </ul>
    <script data-smsgfx-template-id="project-list-template" type="text/x-handlebars-template">
        {{#each this}}
            <li data-command="projectSelect" data-project-id="{{id}}" class="list-group-item d-flex justify-content-between align-items-start list-group-item-action border-secondary-subtle ps-0 pe-0 pt-1 pb-1" title="{{tooltip}}">
                <span data-field="console" class="text-center me-2">
                    {{#if isSmsgg}}
                    <img src="assets/image/game-gear-console.svg" alt="Sega Master System and Sega Game Gear.">
                    {{else if isNes}}
                    <img src="assets/image/nes.svg" alt="Nintendo Entertainment System.">
                    {{else if isGb}}
                    <img src="assets/image/game-boy.svg" alt="Nintendo Game Boy.">
                    {{/if}}
                </span>
                <span data-field="title" class="flex-fill overflow-hidden text-nowrap">
                    {{title}}
                </span>
                <span data-field="dateModified" class="ps-2 pe-2 sms-font-small fst-italic">
                    {{dateLastModifiedFuzzy}}
                </span>
                <button data-command="projectDelete" data-project-id="{{id}}" class="btn btn-sm btn-ui btn-outline-secondary p-0 px-2" title="Delete this project.">
                    <i class="bi bi-trash-fill"></i>
                </button>
            </li>
        {{/each}}
    </script>
    <style data-css-scope="global">
        .sms-project-list-component li {
            font-size: 0.9em;
            cursor: pointer;
        }

        .sms-project-list-component li [data-field=console] {
            width: 45px;
            min-width: 45px;
        }

        .sms-project-list-component li [data-field=console] img {
            max-height: 20px;
        }

        .sms-project-list-component {
            height: 190px;
            overflow-y: auto;
        }

        .sms-project-list-component .list-group-item {
            cursor: pointer;
        }
    </style>
</div>