body {}

button:disabled img {
    opacity: 0.5;
}

.sms-container .sms-smaller-font,
.sms-container .sms-smaller-font.input-group-text,
.sms-container .sms-smaller-font input,
.sms-container .sms-smaller-font select {
    font-size: 10pt;
}

.sms-container .sms-dropdown-menu {
    font-size: 10pt;
}

.sms-container .sms-dropdown-menu li i.bi {
    font-size: 1.25em;
    margin-right: 4px;
}

.sms-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sms-container .sms-header-bar {
    min-height: 50px;
    z-index: 20;
}

.sms-container .sms-header-bar .sms-navbar {
    background-color: #EEEEEE;
    box-shadow: 0px 0px 6px #888888;
}

.sms-container .sms-header-bar .sms-navbar .navbar-brand {
    margin-left: 4px;
    font-size: 25px;
    text-shadow: 0px 0px 2px #FFFFFF, 1px 1px 5px #555555;
}

.sms-container .sms-header-bar .sms-navbar .navbar-brand img {
    float: left;
    margin: 4px 10px 0 5px;
}

.sms-container .sms-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    z-index: 10;
    width: 100%;
    flex-grow: 1;
}

.sms-container .sms-content .sms-content-col {
    padding: 15px;
}

.sms-container .sms-content .sms-content-col.sms-left {
    width: 250px;
}

.sms-container .sms-content .sms-content-col.sms-right {
    position: relative;
    flex-grow: 1;
    min-width: 250px;
    padding-left: 0;
}

.sms-container .sms-content .sms-rows {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sms-container .sms-content .sms-rows .sms-row {
    position: relative;
    box-sizing: border-box;
}

.sms-container .sms-content .sms-rows .sms-row.sms-grow {
    flex-grow: 1;
}

/* Palette buttons */
.sms-palette .sms-palette-colours td {
    border-radius: 2px;
    border: 1px solid #FFFFFF;
}

.sms-palette .sms-palette-colours button.sms-palette-button {
    width: 38px;
    height: 40px;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

.sms-palette .sms-palette-colours button.sms-palette-button span {
    left: 18px;
    top: 4px;
    width: 38px;
    padding: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #222222;
}

.sms-palette .sms-palette-colours td.sms-selected {}

.sms-palette .sms-palette-colours td.sms-selected button.sms-palette-button {
    background-color: #888888;
    border-radius: 5px;
    border: 4px solid #FFFFFF;
    box-sizing: content-box;
    width: 30px;
    height: 32px;
    box-shadow: 0px 0px 2px 2px #000000;
}

.sms-palette .sms-palette-colours td.sms-selected button.sms-palette-button span {
    left: 15px;
    top: 1px;
    background-color: #FFFFFF;
    color: #000000;
}

.sms-palette .sms-palette-colours td.sms-highlight button {
    box-shadow: 0px 0px 6px 2px #444444;
}

/* Colour toolbox */
.sms-container .sms-colour-toolbox input[type=text] {
    font-size: 7pt;
}

.sms-container .sms-colour-toolbox .sms-colour-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sms-container .sms-colour-toolbox .sms-colour-box button {
    width: 12.5%;
    box-sizing: border-box;
    height: 20px;
    border: 1px solid #FFFFFF;
}

.sms-container .sms-colour-toolbox .sms-colour-box button:hover {
    border: 1px solid #666666;
}


.sms-colour-picker .sms-colour-preview {
    min-width: 100px;
}


.sms-console-icon {
    width: 60px;
    height: auto;
}


/* Tile editor */

.sms-tile-editor {
    display: flex;
    height: 100%;
    /* border: 1px solid #AAAAAA; */
}

.sms-tile-editor .sms-tile-editor-canvas {
    width: 100%;
    height: 100%;
}