/* Utility classes */

button:disabled img {
    opacity: 0.5;
}

.sms-invert {
    filter: invert(1);
}

.sms-opacity-50 {
    opacity: 0.5;
}


/* Main layout */

.sms-container .sms-smaller-font,
.sms-container .sms-smaller-font.input-group-text,
.sms-container .sms-smaller-font input,
.sms-container .sms-smaller-font select {
    font-size: 10pt;
}

.sms-container .sms-dropdown-menu {
    font-size: 10pt;
}

.sms-container .sms-dropdown-menu li i.bi {
    font-size: 1.25em;
    margin-right: 4px;
}

.sms-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sms-container .sms-header-bar {
    min-height: 50px;
    z-index: 20;
}

.sms-container .sms-header-bar .sms-navbar {
    background-color: #EEEEEE;
    box-shadow: 0px 0px 6px #888888;
}

[data-bs-theme=dark] .sms-container .sms-header-bar .sms-navbar {
    background-color: #282d31;
    box-shadow: 0px 0px 6px #000000;
}

.sms-container .sms-header-bar .sms-navbar .navbar-brand {
    margin-left: 4px;
    font-size: 25px;
    text-shadow: 0px 0px 2px #FFFFFF, 1px 1px 5px #555555;
}

[data-bs-theme=dark] .sms-container .sms-header-bar .sms-navbar .navbar-brand {
    text-shadow: 0px 0px 2px #000000, 1px 1px 5px #000000;
}

.sms-container .sms-header-bar .sms-navbar .navbar-brand img {
    float: left;
    margin: 4px 10px 0 5px;
    height: 22px;
    width: auto;
    box-shadow: 1px 1px 4px #444444;
}

[data-bs-theme=dark] .sms-container .sms-header-bar .sms-navbar .navbar-brand img {
    box-shadow: 1px 1px 4px #000000;
}

.sms-container .sms-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    z-index: 10;
    width: 100%;
    flex-grow: 1;
}

.sms-container .sms-content .sms-content-col {
    padding: 15px;
}

.sms-container .sms-content .sms-content-col.sms-left {
    width: 250px;
}

.sms-container .sms-content .sms-content-col.sms-right {
    position: relative;
    flex-grow: 1;
    min-width: 250px;
    padding-left: 0;
}

.sms-container .sms-content .sms-rows {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sms-container .sms-content .sms-rows .sms-row {
    position: relative;
    box-sizing: border-box;
}

.sms-container .sms-content .sms-rows .sms-row.sms-grow {
    flex-grow: 1;
}

/* Palette buttons */
.sms-palette .sms-palette-colours td {
    border: none;
}

[data-bs-theme=dark] .sms-palette .sms-palette-colours td {
}

.sms-palette .sms-palette-colours button.sms-palette-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #6c757d;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sms-palette .sms-palette-colours button.sms-palette-button span {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: #FFFFFF;
    font-size: 0.75em;
    font-weight: bold;
    border: none;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
}

.sms-palette .sms-palette-colours td.sms-selected button.sms-palette-button {
    border-color: #0d6efd;
    box-shadow: 0px 0px 0px 1px #0d6efd;
}

.sms-palette .sms-palette-colours td.sms-selected button.sms-palette-button span {
    background-color: #0d6efd;
}

.sms-palette .sms-palette-colours td.sms-highlight button {
    box-shadow: 0px 0px 0px 3px #AAAAAA;
}

[data-bs-theme=dark] .sms-palette .sms-palette-colours td.sms-highlight button {
    box-shadow: 0px 0px 0px 3px #FFFFFF;
}

/* Colour toolbox */

.sms-container .sms-colour-toolbox input[type=text] {
    font-size: 7pt;
}

.sms-container .sms-colour-toolbox .sms-colour-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sms-container .sms-colour-toolbox .sms-colour-box .sms-colour-box-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    width: auto;
}

.sms-container .sms-colour-toolbox .sms-colour-box.for-nes .sms-colour-box-row {
    flex-direction: column;
}

.sms-container .sms-colour-toolbox .sms-colour-box button {
    width: 5.5%;
    box-sizing: content-box;
    height: 15px;
    margin: 1px;
    border: 1px solid #CCCCCC;
}

.sms-container .sms-colour-toolbox .sms-colour-box.for-nes .sms-colour-box-row button {
    width: auto;
}

[data-bs-theme=dark] .sms-container .sms-colour-toolbox .sms-colour-box button {
    border-color: #212529;
}

.sms-container .sms-colour-toolbox .sms-colour-box button:hover {
    border: 1px solid #666666;
}


.sms-colour-picker .sms-colour-preview {
    min-width: 100px;
}


.sms-console-icon {
    width: 60px;
    height: auto;
}


/* Tile editor */

.sms-tile-editor {
    display: flex;
    height: 100%;
    border: none;
}

.sms-tile-editor .sms-tile-editor-canvas {
    width: 100%;
    height: 100%;
    border: none;
}


/* Welcome screen */

.sms-welcome-screen {
    position: absolute;
    z-index: 10;
    /* top: 200px; */
    width: 600px;
    height: min-content;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0px 0px 2px #555555;
}

.sms-welcome-screen .card-header {
    background-image: url(/assets/image/header.png);
    background-size: 100% auto;
    background-position: center center;
}

.sms-welcome-screen .card-header h5 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 2.5em;
    color: #FFFFFF;
    text-shadow: 2px 2px 1px #000000, 0px 0px 5px #000000, 0px 0px 5px #FFFFFF;
    font-weight: bold;
}

.sms-project-dropdown .sms-project-create button {
    min-width: 90px;
}
.sms-project-dropdown .sms-project-create button img {
    max-height: 30px;
}

.sms-project-dropdown .sms-project-load .sms-project-list li {
    font-size: 0.9em;
}
.sms-project-dropdown .sms-project-load .sms-project-list li [data-field=console] {
    width: 50px;
}
.sms-project-dropdown .sms-project-load .sms-project-list li [data-field=console] img {
    max-height: 20px;
}

/* Project list component */
.sms-project-list-component li {
    font-size: 0.9em;
    cursor: pointer;
}

.sms-project-list-component li [data-field=console] {
    width: 50px;
}

.sms-project-list-component li [data-field=console] img {
    max-height: 20px;
}

.sms-project-list-component {
    height: 190px;
    overflow-y: scroll;
}

.sms-project-list-component .list-group-item {
    cursor: pointer;
}
