body {}

[data-bs-theme=dark] body {
    background-image: url(./../image/background-02.png);
    background-blend-mode: multiply;
}

.sms-toolstrip {
    background-color: var(--bs-white);
}

[data-bs-theme=dark] .sms-toolstrip {
    background-color: var(--bs-dark-bg-subtle);
}

.sms-toolstrip button.btn-ui:not([disabled]):not(.btn-link):not(.active),
.sms-toolstrip input[type=text]:not([disabled]),
.sms-toolstrip input[type=number]:not([disabled]),
.sms-toolstrip select:not([disabled]) {
    background-color: var(--bs-white);
}

[data-bs-theme=dark] .sms-toolstrip button.btn-ui:not([disabled]):not(.active),
[data-bs-theme=dark] .sms-toolstrip input[type=text]:not([disabled]),
[data-bs-theme=dark] .sms-toolstrip input[type=number]:not([disabled]),
[data-bs-theme=dark] .sms-toolstrip select:not([disabled]) {
    background-color: var(--bs-dark-bg-subtle);
}

.sms-toolbox button.btn-ui:not([disabled]):not(.btn-link),
.sms-toolbox input[type=text]:not([disabled]),
.sms-toolbox input[type=number]:not([disabled]),
.sms-toolbox textarea:not([disabled]),
.sms-toolbox select:not([disabled]) {
    background-color: var(--bs-white);
}

[data-bs-theme=dark] .sms-toolbox button.btn-ui:not([disabled]):not(.btn-link),
[data-bs-theme=dark] .sms-toolbox input[type=text]:not([disabled]),
[data-bs-theme=dark] .sms-toolbox input[type=number]:not([disabled]),
[data-bs-theme=dark] .sms-toolbox textarea:not([disabled]),
[data-bs-theme=dark] .sms-toolbox select:not([disabled]) {
    background-color: var(--bs-dark-bg-subtle);
}

.sms-dialogue button.btn-ui:not([disabled]),
.sms-dialogue input[type=text]:not([disabled]),
.sms-dialogue input[type=number]:not([disabled]),
.sms-dialogue textarea:not([disabled]),
.sms-dialogue select:not([disabled]) {
    background-color: var(--bs-white);
}

[data-bs-theme=dark] .sms-dialogue button.btn-ui:not([disabled]),
[data-bs-theme=dark] .sms-dialogue input[type=text]:not([disabled]),
[data-bs-theme=dark] .sms-dialogue input[type=number]:not([disabled]),
[data-bs-theme=dark] .sms-dialogue textarea:not([disabled]),
[data-bs-theme=dark] .sms-dialogue select:not([disabled]) {
    background-color: var(--bs-dark-bg-subtle);
}

/* Utility classes */

button:disabled img {
    opacity: 0.5;
}

.sms-invert {
    filter: invert(1);
}

.sms-opacity-50 {
    opacity: 0.5;
}

.sms-layout {
    font-size: 14px;
}

.sms-layout input,
.sms-layout select,
.sms-layout button,
.sms-layout label {
    font-size: 12px;
}

.sms-layout .sms-layout-header .navbar-brand img {
    width: 75px;
    height: auto;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
}

.sms-layout .sms-layout-header .navbar-brand label {
    font-size: 22px;
    text-shadow: 1px 1px 5px #000000;
}

.sms-layout .sms-layout-header .sms-project-toolbar {
    width: 400px;
}

.sms-layout .sms-layout-content .sms-layout-content-left {
    width: 250px;
}

.sms-layout .sms-layout-content .sms-layout-content-right {
    width: 250px;
}

.btn.btn-outline-secondary i.bi img[src$=".svg"] {
    opacity: 0.5;
}


/* Main layout */

/* .sms-container .sms-smaller-font,
.sms-container .sms-smaller-font.input-group-text,
.sms-container .sms-smaller-font input,
.sms-container .sms-smaller-font select {
    font-size: 10pt;
}

.sms-container .sms-dropdown-menu {
    font-size: 10pt;
}

.sms-container .sms-dropdown-menu li i.bi {
    font-size: 1.25em;
    margin-right: 4px;
} */
/* 
.sms-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
} */
/* 
.sms-container .sms-header-bar {
    min-height: 50px;
    z-index: 20;
}

.sms-container .sms-header-bar .sms-navbar {
    background-color: #EEEEEE;
    box-shadow: 0px 0px 6px #888888;
}

[data-bs-theme=dark] .sms-container .sms-header-bar .sms-navbar {
    background-color: #282d31;
    box-shadow: 0px 0px 6px #000000;
}

.sms-container .sms-header-bar .sms-navbar .navbar-brand {
    margin-left: 4px;
    font-size: 25px;
    text-shadow: 0px 0px 2px #FFFFFF, 1px 1px 5px #555555;
}

[data-bs-theme=dark] .sms-container .sms-header-bar .sms-navbar .navbar-brand {
    text-shadow: 0px 0px 2px #000000, 1px 1px 5px #000000;
}

.sms-container .sms-header-bar .sms-navbar .navbar-brand img {
    float: left;
    margin: 4px 10px 0 5px;
    height: 22px;
    width: auto;
    box-shadow: 1px 1px 4px #444444;
}

[data-bs-theme=dark] .sms-container .sms-header-bar .sms-navbar .navbar-brand img {
    box-shadow: 1px 1px 4px #000000;
}

.sms-container .sms-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    z-index: 2;
    width: 100%;
    flex-grow: 1;
}

.sms-container .sms-content .sms-content-col {
    padding: 15px;
}

.sms-container .sms-content .sms-content-col.sms-left {
    width: 250px;
}

.sms-container .sms-content .sms-content-col.sms-right {
    position: relative;
    flex-grow: 1;
    min-width: 250px;
    padding-left: 0;
}

.sms-container .sms-content .sms-rows {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sms-container .sms-content .sms-rows .sms-row {
    position: relative;
    box-sizing: border-box;
}

.sms-container .sms-content .sms-rows .sms-row.sms-grow {
    flex-grow: 1;
}


.sms-bottom-links {

} */